html {
    scroll-behavior: smooth;
}

.hero-section {

    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #1b1c1d,
        #2185d0
    );
}

.container-grid {

    min-height: 100vh !important;
}